html,
body {
  font-family: 'Arial', sans-serif;
  border: 3px solid red;
}

/* Type Selectors */
 h2 {
  color: red;
  font-size: 30px;
}

a {
  color: blue;
  text-decoration: none;
} 

/* Class Selectors */
.sporty {
  color: red;
}

.casual {
  color: blue;
}

.formal {
  color: brown;
}

/* ID Selectors */
#container {
  max-width: 600px;
  min-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border: 2px solid black;
}

/* Multiple Styles */
.sporty,
.casual {
  font-size: 35px;
}
 #container p {
  color: rgb(255, 0, 0);
} 
