body {
  font-family: 'Poppins', sans-serif;
  line-height: 2;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  color: rgba(32, 95, 180, 0.19);
  font-size: x-large;
  font-weight: 700;
  font-style:normal;
  font-variant:small-caps;

  /* font: italic small-caps 700 26px Arial; */

  text-transform: capitalize;
  text-indent: 20px;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-align: center;
}
